.navbar-brand {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}

.navbar-dark .navbar-nav .nav-item {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;
}

.home {
    position: relative;
    height: 150px;
}

.center {
    max-width: 64em;
    margin: auto;
    text-align: center;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

h3 {
    margin-top: 20px;
    text-align: center;
}

.btn-primary {
    padding: 5px 100px;
}

.alignLeft {
    max-width: 64em;
    margin: auto;
    text-align: left;
}

.footer-copyright {
    padding-top: 670px;
    position: center;
    margin: auto;
    text-align: center;
}

.navbar-logo {
    width: 75px;
}


.center-bottom {
    padding-top: 600px;
    position: center;
    max-width: 100em;
    margin: auto;
    text-align: center;
}

.color {
    color: white;
}

.navbar-toggler {
    margin-left: 90%;
}

.container-fluid\.catalogue{
    max-width:1170px;
}

.alignPDP {
    margin-left: 70px;
}
